@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Poppins", sans-serif;
  height: 100%;
  background-color: #1f1a30;
}

/* body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#17c2ed, #0aa3c9);
  clip-path: circle(18% at 50% 50%);
} */

.CircleContainerOne {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#17c2ed, #0aa3c9);
  clip-path: circle(18% at 70% 55%);
}

.CircleContainerTwo {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#e91e63, #ffc107);
  clip-path: circle(22% at 30% 20%);
}
