.card {
  height: 14rem;
  width: 14rem;
  background-color: aqua;
  border-radius: 20px;
  background-color: #1b1b1b;
  box-shadow: 3px 5px 22px -4px #000000;
  padding: 0 1rem;
  margin: 0 1rem 2rem;
  & h5 {
    color: #909fb7;
    text-align: center;
    font-size: 1.2rem;
  }
  & h4 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bolder;
  }
}
