.main {
  background-color: #2a2d3e;
  width: 18rem;
  height: 18rem;
  border-radius: 20px;
  margin: 0.5rem;

  & h2 {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0 2rem;
    text-align: center;
  }
  & h3 {
    // margin-top: 2rem;
    margin: auto;
    font-size: 1.9rem;
    font-family: "Anton", sans-serif;
  }
}

.iconCard {
  margin: 1rem 2rem;

  & svg {
    font-size: 3rem;
  }
}
